

body {
margin: 0;
}

html,
body,
#root {
height: 100%;
}


.App {
background-color: #989897;
padding: 20px; /* Adjust the padding as needed */
}

.github-links {
display: flex;
flex-direction: column;
align-items: flex-end;
margin-right: 20px;
}

.github-links a {
color: #222;
text-decoration: none;
font-family: 'Arial', sans-serif;
display: flex;
align-items: center;
padding: 8px;
border-radius: 50px;
background-color: #fff;
margin-bottom: 10px;
transition: text-decoration 0.3s ease-in-out;
}

.github-links a .link-icon {
display: inline-flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: #fff;
margin-right: 10px;
}

.github-links a:hover {
text-decoration: underline;
}

.footer {
border-top: 1px solid #fff; /* Add a thin white line at the top of the footer */
padding: 10px 20px; /* Adjust the padding as needed */
color: black; /* Change the text color to black */
position: relative;
overflow: hidden; /* Hide overflowing text */
}

.footer .moving-text {
font-size: 18px; /* Increase the font size as desired */
animation: moving-text 10s linear infinite; /* Make the text move from left to right */
}

@keyframes moving-text {
0% {
transform: translateX(0);
}

100% {
transform: translateX(calc(100% - 100vw)); /* Move the text to the left by the width of the viewport */
}
}

.footer .moving-text::after {
content: attr(data-text);
position: absolute;
white-space: nowrap;
transform: translateX(100%);
animation: moving-text-clone 10s linear infinite;
}

@keyframes moving-text-clone {
0% {
transform: translateX(100%);
}

100% {
transform: translateX(calc(-100% + 100vw)); /* Move the cloned text to the left by the width of the viewport */
}
}


.contact-icons {
display: flex;
align-items: center;
margin-top: 10px;
}

.contact-icons a, .contact-icons span {
margin-right: 10px;
margin-left: 20px;
color: #222;
text-decoration: none;
font-family: 'Arial', sans-serif;
display: flex;
align-items: center;
}

.contact-icons a:hover {
    text-decoration: underline;
}
